header{
    height: 100px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 36px;
    height: 100%;
    width: 100%;
    max-width: 1800px;
    margin: auto;
    padding: 0 36px;
}

.wrapper-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-height: 90%;
    width: auto;
}

.hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 35px;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
}

.stick{
    border: 1px solid black;
    height: 2px;
    border-radius: 10px;
    width: 100%;
}

nav{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    gap: 36px;
    align-items: center;
    height: 100%;
    width: 50%;
    margin: 0 -36px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease .5s all;
}

a:hover{
    color: red;
    text-decoration: underline;
}


@media only screen and (max-width: 700px) {  
    .hamburger{
        display: none;
    }
}