*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

main{
    color: white;
}

.Bigback{
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-top: 115px;
    height: calc(100vh - 115px);
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -2;
    background: linear-gradient(90deg, rgb(9 28 61 / 91%) 0%, rgb(0 0 0 / 43%) 96%);
}

.BigWrap{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 115px;
}

.wrap{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-left: 200px;
    position: absolute;
    margin-top: 20px;
    z-index: -1;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.144);
    border: 2px solid rgb(151, 151, 151);
    border-radius: 20px;
    padding: 10px 15px;
    width: fit-content;    
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 8px;
  background-color: rgb(3, 161, 3);
  border-radius: 50%;
  display: inline-block;
}

h1{
    font-size: 50px;
    font-weight: 700;
    width: 400px;
    margin-bottom: 30px;
}

h2{
    width: 750px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.842);
}

.long{
    width: 800px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.459);
    margin-top: 10px;
    margin-bottom: 40px;
}

.wrap2{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 20px;

    .but1{
        padding-right: 0px;
    }
        
    .but1:hover{
        transform: scale(1.04);
        backdrop-filter: blur(4px);
        background-color: rgba(255, 255, 255, 0.144);
        border: 2px solid rgb(151, 151, 151);
}

    .but2{
        backdrop-filter: blur(4px);
        background-color: rgba(255, 255, 255, 0.144);
        border: 2px solid rgb(151, 151, 151);
    }

    .but2:hover{
        transform: scale(1.04);
        border: 2px solid rgb(14 141 241);
        background-color: rgb(14 141 241);
    }


    button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        font-size: 21px;
        color: white;
        border: 2px solid rgb(14 141 241);
        background-color: rgb(14 141 241);
        border-radius: 15px;
        width: 200px;
        height: 50px;
        cursor: pointer;
        transition: ease .3s all;
    

    svg{
        margin-left: 10px;
    }
}
}

.wrap3{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 150px;

    h3{
        font-size: 40px;
        margin-bottom: 5px;
    }

    h4{
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.699);
    }

    .number{
        width: 140px;
    }
}

@media only screen and (max-width: 1190px){
    .BigWrap{
        display: flex;
        justify-content: left;
        align-items: normal;
    }
    .wrap{

        transform: scale(0.6);
        transform-origin: top left;
        padding-left: 70px;
    }
    h2{
        width: 400px;
    }
    .long{
        width: 500px;
    }
    .wrap3{
        gap: 50px;
    }
    .back{
        height: 500px;
        width: auto;
    }
}